<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%= stylesheet_link_tag "styles/style.css", media: "all" %>
    <meta charset="utf-8">
    <title>t.roS</title>
  </head>
  <body>
    <h1 class="main-banner">t.roS</h1>
    <div class="stats-holder">
      <h2 class="stats-banner">Access Time: <span id=access></span>ms</h2>
      <h2 class="stats-banner">Compare Time: <span id=compare></span>ms</h2>
      <h2 class="stats-banner">Swap Time: <span id=swap></span>ms</h2>
    </div>

    <form action="index.html" method="post">
      <select id="sort-type-1">
        <option value="insertion">Insertion Sort</option>
        <option value="selection">Selection Sort</option>
        <option value="bubble">Bubble Sort</option>
      </select>
      <select id="sort-type-2">
        <option value="insertion">Insertion Sort</option>
        <option value="selection">Selection Sort</option>
        <option value="bubble">Bubble Sort</option>
        <option value="quick">Quick Sort</option>
        <option value="merge">Merge Sort</option>
      </select>
    </form>
    <button type="button" id="shuffleButton">Shuffle</button>
    <button type="button" id="sortButton">Sort</button>
    <br>
    <div class="graph graph-left" id="graph1">

    </div>
    <div class="graph" id="graph2">

    </div>
  </body>

  <%= javascript_include_tag "application"%>
  <%= javascript_include_tag "scripts/Graph.js"%>
  <%= javascript_include_tag "scripts/Sort.js"%>
  <%= javascript_include_tag "scripts/main.js"%>
</html>
